body{
    background-color: rgb(223, 192, 253);
}
h1{
    color:rgb(0, 0, 0);
    background-color: aliceblue;
}
#showsketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
    
}
@keyframes example{
    from{box-shadow:1px 1px 38px rgb(95, 107, 166);}
    to{box-shadow:1px 1px 38px grey;}
}
p{
    padding-top:10px;
    font-size:25px;
}